#landing-container {
  background: linear-gradient(130.02deg, #FF9900 47.43%, #FFCC00 81.83%);

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-container .content-wrapper {
  position: relative;

  width: 100%;
  max-width: 1100px;

  height: 100%;
  max-height: 680px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

}

#landing-container .content-wrapper main {
  max-width: 350px;
}

#landing-container .content-wrapper main h1 {
  font-size: 76px;
  font-weight: 800;
  line-height: 70px;
}

#landing-container .content-wrapper main p {
  margin-top: 40px;
  font-size: 24px;
  line-height: 34px;
}

.content-wrapper .enter-app {
  position: absolute;
  right: 0;
  top: 0;

  width: 80px;
  height: 80px;

  background: #DD3355;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

.content-wrapper .enter-app:hover {
  background: #FFCC00;
}

#landing-container .content-wrapper .medicine-img{
 
position: absolute;
width: 400px;
height: 400px;
left: 810px;
top: 230px;
}